.card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-head p {
  font-size: 25px;
}

.card-head button {
  background-color: #cca43b;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 35px;
}

.card-head-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
