.main-board-content {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  border: 1px solid rgb(36, 47, 64);
  background-color: white;
  border-radius: 5px;
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.content-add {
  background-color: #cca43b;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 10px;
}

.content-body {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden; /* Hides vertical scrollbar */
  scroll-behavior: smooth;
}

.content-body::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

.content-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(36, 47, 64, 0.3);
  border-radius: 5px;
}

.content-body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #cca43b;
  -webkit-box-shadow: inset 0 0 6px rgba(204, 164, 59, 0.5);
}

.content-body::-webkit-scrollbar-corner {
  display: none;
}
